@font-face {
    font-family: 'Hahmlet-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Hahmlet-Black";
}

#logo {
    height: 33px;
    width: 33px;
    margin-right: 20px;
}

.logos {
    margin-left: 20px;
    margin-top: -10px;
    width: 300px;
    height: 100%;
    font-size: 30pt;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 1rem;
    color: white;
    background: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 14pt;
    color:white;
}

nav > a {
    margin: 10px;
}

body {
    padding: 1rem;
    height: 100%;  
    padding-top: 75px;
    background: #EEE;
}

/* 여기까지 메뉴바 */

li {
    list-style: none;
    line-height: 60px;
    margin-bottom: 30px;
}

.answer {
    width: 180px;
    border: solid black 3px;
    text-align: center;
    color: white;
    font-size: 25pt;
    background: #00BFFF;
    height: 60px;;
}

.answer-input {
    width: 180px;
    border: solid black 3px;
    text-align: center;
    color: white;
    font-size: 25pt;
    background: #00BFFF;
    height: 60px;;
}

.answer-hint {
    margin-left: 20px;
    width: 150px;
    border: solid black 3px;
    text-align: center;
    color: black;
    font-size: 25pt;
    background: #FDF5E6;
    height: 60px;;
}

.correct {
    margin-left: 20px;
    width: 50px;
    border: solid black 3px;
    text-align: center;
    color: black;
    font-size: 25pt;
    background: white;
    height: 60px;;
}

.sound-btn {
    margin-left: 20px;
    width: 50px;
    border: solid black 3px;
    text-align: center;
    color: black;
    font-size: 25pt;
    background: white;
    height: 60px;;
}

body {
    padding: 1rem;
    padding-top: 75px;
    background: #EEE;
}

#hint {
    border-style: none;
}

.container {
    display: flex;
}

#image {
    margin-top: 30px;
}

.image-container {
    margin-top: 30px;
    margin-left: 50px;
}

.image-contents {
    font-size: 20pt;
    padding-left: 100px;
}

#preview-image{
    margin-top: 50px;
}

#answer_send {
    width: 420px;
    height: 50px;
    color: white;
    font-size: 20pt;
    background-color: #00BFFF;
}

/*
주석 처리
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SF_HambakSnow';
}
-----------------------------------------------------------------------------------------------------------------
영어 폰트

한글 제목 폰트

// 폰트 이름: 함렛 Black

@font-face {
    font-family: 'Hahmlet-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

한글 본문 폰트
*/